autopep8==1.5.7
blinker==1.4
Brotli==1.0.9
click==8.0.1
dnspython==2.1.0
email-validator==1.1.3
Flask==2.0.1
Flask-Compress==1.10.1
Flask-Mail==0.9.1
Flask-Moment==1.0.5
Flask-WTF==0.15.1
gunicorn==20.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
Markdown==3.6
MarkupSafe==2.0.1
packaging==23.0
pycodestyle==2.7.0
Pygments==2.17.2
setuptools==69.2.0
toml==0.10.2
Werkzeug==2.0.1
WTForms==2.3.3
