<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Flexible and detailed fullstack web 
                                      developer and software engineer who loves solving puzzles, 
                                      creating things, and bringing joy to every project.">

    <!--======================== UNICONS ========================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/solid.css">

    <!--===================== SWIPER CSS ========================-->
    <link rel="stylesheet" href="static/css/swiper-bundle.min.css">

    <!--==================== CSS ====================-->
    <link rel="stylesheet" href="static/css/styles.css">

    <title>Sarah Stockton</title>
</head>

<body>

    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">Sarah Stockton</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active-link">
                            <i class="uil uil-estate nav__icon"></i> Home
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#about" class="nav__link">
                            <i class="uil uil-user nav__icon"></i> About
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#skills" class="nav__link">
                            <i class="uil uil-file-alt nav__icon"></i> Skills
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#history" class="nav__link">
                            <i class="uil uil-briefcase-alt nav__icon"></i> History
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#portfolio" class="nav__link">
                            <i class="uil uil-scenery nav__icon"></i> Portfolio
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#contact" class="nav__link">
                            <i class="uil uil-message nav__icon"></i> Contact
                        </a>
                    </li>
                </ul>
                <i class="uil uil-times nav__close" id="nav-close"></i>
            </div>
            <div class="nav__btns">
                <!-- Light/Dark Theme Change -->
                <i class="uil uil-moon change-theme" id="theme-button"></i>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
    </header>

    <!--==================== MAIN ====================-->
    <main class="main">
        <!--==================== HOME ====================-->
        <section class="home section" id="home">

            {% if success %}
            <div class="success">
                <p>Thanks for your message. I'll get back to you soon!</p>
            </div>
            {% endif %}
            {% for message in get_flashed_messages() %}
            <div class="fail">
                <p>{{ message }}</p>
                <a href="#contact">Go to Contact Form</a>
            </div>

            {% endfor %}

            <div class="home__container container grid">
                <div class="home__content grid">
                    <div class="home__social">
                        <a href="https://www.linkedin.com/in/stocktons/" target="_blank" class="home__social-icon">
                            <i class="uil uil-linkedin-alt"></i>
                        </a>
                        <a href="https://github.com/stocktons" target="_blank" class="home__social-icon">
                            <i class="uil uil-github-alt"></i>
                        </a>
                        <a href="https://www.instagram.com/rithmschool/" target="_blank" class="home__social-icon">
                            <i class="uil uil-instagram-alt"></i>
                        </a>
                    </div>
                    <div class="home__img">
                        <svg class="home__blob" viewbox="0 0 200 187" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <mask id="mask0" mask-type="alpha">
                                <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                                130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                                97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                                0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z" />
                            </mask>
                            <g mask="url(#mask0)">
                                <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                                165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                                129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                                -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z" />
                                <image class="home__blob-img" x="20" y="-20" xlink:href="static/img/sarah-photo.png" />
                            </g>
                        </svg>
                    </div>
                    <div class="home__data">
                        <h1 class="home__title">Hi, I'm Sarah</h1>
                        <h3 class="home__subtitle">Fullstack Developer</h3>
                        <p class="home__description">Multi-faceted software engineer with a passion for learning and
                            connecting.</p>
                        <a href="#contact" class="button button--flex">
                            Get in touch <i class="uil uil-message button__icon"></i>
                        </a>
                    </div>
                </div>

                <div class="home__scroll">
                    <a href="#about" class="home__scroll-button button--flex">
                        <i class="uil uil-mouse-alt home__scroll-mouse"></i>
                        <span class="home__scroll-name">scroll down</span>
                        <i class="uil uil-arrow-down home__scroll-arrow"></i>

                    </a>
                </div>
            </div>
        </section>

        <!--==================== ABOUT ====================-->
        <section class="about section" id="about">
            <h2 class="section__title">About Me</h2>
            <!-- <span class="section__subtitle">My introduction</span> -->

            <div class="about__container container grid">
                <!-- <img src="..." alt="" class="about__img"> -->


                <div class="about__data">
                    <p class="about__description p1">I'm a detail-oriented, flexible thinker
                        with a sense of humor. I find joy in solving puzzles and working together with people to
                        arrive at the best possible outcome for everyone. </p>
                    <p class="about__description">
                        My journey to becoming a software engineer has taken me
                        through being a professional musician, a teacher, and an instrument repair technician - all
                        paths that
                        have surprising connections to the art of writing elegant code.
                    </p>
                    <div class="about__info">
                        <div>
                            <span class="about__info-title">05+</span>
                            <span class="about__info-name">Programming <br> languages</span>
                        </div>
                        <div>
                            <span class="about__info-title">15+</span>
                            <span class="about__info-name">Years <br> professional <br> experience</span>
                        </div>
                        <div>
                            <span class="about__info-title">07+</span>
                            <span class="about__info-name">Frameworks/ <br> libraries</span>
                        </div>
                    </div>

                    <div class="about__buttons">
                        <a download="" href="assests/pdf/stockton-resume.pdf" class="button button--flex">
                            Download Resume<i class="uil uil-download-alt button__icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!--==================== SKILLS ====================-->
        <section class="skills section" id="skills">
            <h2 class="section__title">Skills</h2>
            <!-- <span class="section__subtitle">Technical Proficiences</span> -->

            <div class="skills__container container grid">
                <!-- <div> -->
                <!--==================== SKILLS 1 ====================-->
                <div class="skills__content skills__open">
                    <div class="skills__header">
                        <i class="uil uil-brackets-curly skills__icon"></i>

                        <div>
                            <h1 class="skills__title">Frontend</h1>
                            <span class="skills__subtitle">languages & libraries</span>
                        </div>

                        <i class="uil uil-angle-down skills__arrow"></i>
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">React</h3>
                                <!-- <span class="skills__number">90%</span> -->
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage skills__react"></span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">HTML</h3>
                                <!-- <span class="skills__number">90%</span> -->
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage skills__html"></span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">CSS</h3>
                                <!-- <span class="skills__number">90%</span> -->
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage skills__css"></span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">JS</h3>
                                <!-- <span class="skills__number">90%</span> -->
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage skills__js"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--==================== SKILLS 2 ====================-->
                <div class="skills__content skills__close">
                    <div class="skills__header">
                        <i class="uil uil-server-network skills__icon"></i>

                        <div>
                            <h1 class="skills__title">Backend</h1>
                            <span class="skills__subtitle">languages, frameworks, & db</span>
                        </div>

                        <i class="uil uil-angle-down skills__arrow"></i>
                    </div>


                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Python</h3>
                                <!-- <span class="skills__number">90%</span> -->
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage skills__python"></span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Flask</h3>
                                <!-- <span class="skills__number">90%</span> -->
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage skills__flask"></span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Node.js</h3>
                                <!-- <span class="skills__number">90%</span> -->
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage skills__node"></span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Django</h3>
                                <!-- <span class="skills__number">90%</span> -->
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage skills__django"></span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">SQL/PostgreSQL/SQLAlchemy</h3>
                                <!-- <span class="skills__number">90%</span> -->
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage skills__sql"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--==================== SKILLS 3 ====================-->
                <div class="skills__content skills__close">
                    <div class="skills__header">
                        <i class="uil uil-users-alt skills__icon"></i>

                        <div>
                            <h1 class="skills__title">Team</h1>
                            <span class="skills__subtitle">strengths & experience</span>
                        </div>

                        <i class="uil uil-angle-down skills__arrow"></i>
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Leadership</h3>
                                <!-- <span class="skills__number">90%</span> -->
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage skills__leadership"></span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Analyzing & Planning</h3>
                                <!-- <span class="skills__number">90%</span> -->
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage skills__analyze"></span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Communication</h3>
                                <!-- <span class="skills__number">90%</span> -->
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage skills__communication"></span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Innovation</h3>
                                <!-- <span class="skills__number">90%</span> -->
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage skills__innovation"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
                <div>

                </div>
            </div>
        </section>

        <!--==================== WORK & EDUCATION ====================-->
        <section class="history section" id="history">
            <h2 class="section__title">Work & Education</h2>
            <!-- <span class="section__subtitle">My journey</span> -->

            <div class="history__container container">
                <div class="history__tabs">
                    <div class="history__button button--flex history__active" data-target="#education">
                        <i class="uil uil-graduation-cap history__icon"></i>
                        Education
                    </div>
                    <div class="history__button button--flex" data-target="#work">
                        <i class="uil uil-briefcase-alt history__icon"></i>
                        Work
                    </div>
                </div>
                <div class="history__sections">
                    <!--==================== EDUCATION CONTENT ====================-->
                    <div class="history__content history__active" data-content id="education">
                        <!--==================== EDUCATION 1 ====================-->
                        <div class="history__data history__left">
                            <div>
                                <h3 class="history__title">Software Engineering</h3>
                                <span class="history__subtitle">San Francisco, CA - Rithm School</span>
                                <div class="history__calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                    2021
                                </div>
                            </div>

                            <div>
                                <span class="history__rounder"></span>
                                <span class="history__line"></span>
                            </div>
                        </div>
                        <!--==================== EDUCATION 2 ====================-->
                        <div class="history__data">
                            <div></div>
                            <div>
                                <span class="history__rounder"></span>
                                <span class="history__line"></span>
                            </div>

                            <div>
                                <h3 class="history__title">MMEd in Music Education</h3>
                                <span class="history__subtitle">Boston, MA - The Boston Conservatory</span>
                                <div class="history__calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                    2011 - 2012
                                </div>
                            </div>

                        </div>

                        <!--==================== EDUCATION 3 ====================-->
                        <div class="history__data history__left">
                            <div>
                                <h3 class="history__title">BM in Flute Performance</h3>
                                <span class="history__subtitle">Storrs, CT - University of Connecticut</span>
                                <div class="history__calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                    1999 - 2003
                                </div>
                            </div>

                            <div>
                                <span class="history__rounder"></span>
                                <!-- <span class="history__line"></span> -->
                            </div>

                        </div>
                    </div>


                    <!--==================== WORK CONTENT ====================-->
                    <div class="history__content" data-content id="work">
                        <!--==================== WORK 1 ====================-->
                        <div class="history__data">
                            <div></div>

                            <div>
                                <span class="history__rounder"></span>
                                <span class="history__line"></span>
                            </div>
                            <div>
                                <h3 class="history__title">Software Engineering Intern</h3>
                                <span class="history__subtitle">San Francisco, CA - Rithm School</span>
                                <div class="history__calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                    2021
                                </div>
                            </div>
                        </div>
                        <!--==================== WORK 2 ====================-->
                        <div class="history__data history__left">
                            <div>
                                <h3 class="history__title">Founder & CEO</h3>
                                <span class="history__subtitle">Middletown, CT - Boundless Flute</span>
                                <div class="history__calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                    2015 - 2021
                                </div>
                            </div>

                            <div>
                                <span class="history__rounder"></span>
                                <span class="history__line"></span>
                            </div>
                        </div>

                        <!--==================== WORK 3 ====================-->
                        <div class="history__data">
                            <div></div>

                            <div>
                                <span class="history__rounder"></span>
                                <!-- <span class="history__line"></span> -->
                            </div>

                            <div>
                                <h3 class="history__title">Music Educator</h3>
                                <span class="history__subtitle">Westbrook, CT - Westbrook Public Schools</span>
                                <div class="history__calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                    2006 - 2016
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--==================== PORTFOLIO ====================-->
        <section class="portfolio section" id="portfolio">
            <h2 class="section__title">Portfolio</h2>
            <span class="section__subtitle">Most Recent Work</span>

            <div class="portfolio__container container swiper-container">
                <div class="swiper-wrapper">

                    <!--==================== PORTFOLIO 1 ====================-->
                    <div class="portfolio__content grid swiper-slide">
                        <img src="static/img/jobly.png" alt="" class="portfolio__img">

                        <div class="portfolio__data">
                            <h3 class="portfolio__title">Jobly</h3>
                            <p>Built with: 
                                <ul class="portfolio__description">
                                    <li>- React</li>
                                    <li>- Express</li>
                                    <li>- Node.js</li>
                                    <li>- Bootstrap</li>
                                    <li>- PostgreSQL</li>
                                    <li>- JSONSchema</li>
                                    <li>- JSON Web Token</li>
                                    <li>- bcrypt</li>
                                </ul>
                            </p>
                            <a href="#" class="button button--flex button--small portfolio__button">
                                Demo
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                            <a href="https://github.com/stocktons/jobly" class="button button--flex button--small portfolio-github__button">
                                GitHub
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                        </div>
                    </div>

                    <!--==================== PORTFOLIO 2 ====================-->
                    <div class="portfolio__content grid swiper-slide">
                        <img src="static/img/placeholder-image-2.jpeg" alt="" class="portfolio__img">

                        <div class="portfolio__data">
                            <h3 class="portfolio__title">Warbler</h3>
                            <p>Built with: 
                                <ul class="portfolio__description">
                                    <li>- HTML</li>
                                    <li>- CSS (grid & flexbox)</li>
                                    <li>- Vanilla JS</li>
                                    <li>- Swiper</li>
                                    <li>- Flask</li>
                                    <li>- Flask-Mail</li>
                                    <li>- WTForms for CSRF protection</li>
                                </ul>
                            </p>
                            <a href="#" class="button button--flex button--small portfolio__button">
                                Demo
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                            <a href="https://github.com/stocktons/portfolio-website" class="button button--flex button--small portfolio-github__button">
                                GitHub
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                        </div>
                    </div>

                    <!--==================== PORTFOLIO 3 ====================-->
                    <div class="portfolio__content grid swiper-slide">
                        <img src="static/img/portfolio-site.png" alt="" class="portfolio__img">

                        <div class="portfolio__data">
                            <h3 class="portfolio__title">Personal Website</h3>
                            <p>Built with: 
                                <ul class="portfolio__description">
                                    <li>- HTML</li>
                                    <li>- CSS (grid & flexbox)</li>
                                    <li>- Vanilla JS</li>
                                    <li>- Swiper</li>
                                    <li>- Flask</li>
                                    <li>- Flask-Mail</li>
                                    <li>- WTForms for CSRF protection</li>
                                </ul>
                            </p>
                            <a href="#" class="button button--flex button--small portfolio__button">
                                Demo
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                            <a href="https://github.com/stocktons/portfolio-website" class="button button--flex button--small portfolio-github__button">
                                GitHub
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="swiper-button-next">
                    <i class="uil uil-angle-right-b swiper-portfolio-icon swiper-portfolio-icon"></i>
                </div>
                <div class="swiper-button-prev">
                    <i class="uil uil-angle-left-b swiper-portfolio-icon swiper-portfolio-icon"></i>
                </div>

                <div class="swiper-pagination"></div>
            </div>
        </section>


        <!--==================== REVIEWS ====================-->
        <section class="review section">
            <h2 class="section__title">Reviews</h2>
            <span class="section__subtitle">What people are saying</span>
            <div class="review__container container swiper swiper-container">
                <div class="swiper-wrapper">
                    <!--==================== REVIEW 1 ====================-->
                    <div class="review__content swiper-slide">
                        <div class="review__data">
                            <div class="review__header">
                                <img src="static/img/sj-r.png" alt="" class="review__img">

                                <div>
                                    <h3 class="review__name">Sarah-Jane R.</h3>
                                    <span class="review__type">Client</span>
                                </div>
                            </div>

                            <div>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                            </div>
                        </div>

                        <p class="review__description">
                            Sarah is a consummate professional. Highly recommend for jobs big and small.
                        </p>
                    </div>

                    <!--==================== REVIEW 2 ====================-->
                    <div class="review__content swiper-slide">
                        <div class="review__data">
                            <div class="review__header">
                                <img src="static/img/chad-b.png" alt="" class="review__img">

                                <div>
                                    <h3 class="review__name">Chad B.</h3>
                                    <span class="review__type">Colleague</span>
                                </div>
                            </div>

                            <div>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star-half-alt review__icon"></i>

                            </div>
                        </div>

                        <p class="review__description">
                            Skilled, shares knowledge without ego. Kind.
                        </p>
                    </div>

                    <!--==================== REVIEW 3 ====================-->
                    <div class="review__content swiper-slide">
                        <div class="review__data">
                            <div class="review__header">
                                <img src="static/img/stephanie-w.png" alt="" class="review__img">

                                <div>
                                    <h3 class="review__name">Stephanie W.</h3>
                                    <span class="review__type">Student</span>
                                </div>
                            </div>

                            <div>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                            </div>
                        </div>

                        <p class="review__description">
                            Edgy, smart, yet giving of herself as a teacher. Quick wit & skill.
                        </p>
                    </div>
                    <!--==================== REVIEW 4 ====================-->
                    <div class="review__content swiper-slide">
                        <div class="review__data">
                            <div class="review__header">
                                <img src="static/img/leslie-b.png" alt="" class="review__img">

                                <div>
                                    <h3 class="review__name">Leslie A.</h3>
                                    <span class="review__type">Colleague</span>
                                </div>
                            </div>

                            <div>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                            </div>
                        </div>

                        <p class="review__description">
                            Intelligence, talent, and dedication to get through any project,
                            but not without a heavy dose of quirk.
                            Smile to light up any room, and also your day.
                        </p>
                    </div>

                    <!--==================== REVIEW 5 ====================-->
                    <div class="review__content swiper-slide">
                        <div class="review__data">
                            <div class="review__header">
                                <img src="static/img/lauren-k.png" alt="" class="review__img">

                                <div>
                                    <h3 class="review__name">Lauren K.</h3>
                                    <span class="review__type">Colleague</span>
                                </div>
                            </div>

                            <div>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star-half-alt review__icon"></i>

                            </div>
                        </div>

                        <p class="review__description">
                            Always humble and ready to help.
                        </p>
                    </div>

                    <!--==================== REVIEW 6 ====================-->
                    <div class="review__content swiper-slide">
                        <div class="review__data">
                            <div class="review__header">
                                <img src="static/img/becky-h.png" alt="" class="review__img">

                                <div>
                                    <h3 class="review__name">Rebecca H.</h3>
                                    <span class="review__type">Colleague</span>
                                </div>
                            </div>

                            <div>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                            </div>
                        </div>

                        <p class="review__description">
                            Brilliant and creative, though small in stature makes herself known.
                            Infectious laugh and always up for fun.
                        </p>
                    </div>
                    <!--==================== REVIEW 7 ====================-->
                    <!-- <div class="review__content swiper-slide">
                        <div class="review__data">
                            <div class="review__header">
                                <img src="static/img/review7.jpeg" alt="" class="review__img">

                                <div>
                                    <h3 class="review__name">Rory S.</h3>
                                    <span class="review__type">Rat</span>
                                </div>
                            </div>
                            
                            <div>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uil uil-star review__icon"></i>
                                <i class="uil uil-star review__icon"></i>
                                <i class="uil uil-star review__icon"></i>
                            </div>
                        </div>

                        <p class="review__description">
                            does not share her cheerios.
                        </p>
                    </div> -->

                    <!--==================== REVIEW 8 ====================-->
                    <div class="review__content swiper-slide">
                        <div class="review__data">
                            <div class="review__header">
                                <img src="static/img/kim-s.png" alt="" class="review__img">

                                <div>
                                    <h3 class="review__name">Kim S.</h3>
                                    <span class="review__type">Colleague</span>
                                </div>
                            </div>

                            <div>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uil uis-star review__icon"></i>

                            </div>
                        </div>

                        <p class="review__description">
                            Not enough stars in the universe are available for Sarah!
                        </p>
                    </div>

                    <!--==================== REVIEW 9 ====================-->
                    <div class="review__content swiper-slide">
                        <div class="review__data">
                            <div class="review__header">
                                <img src="static/img/alex-s.png" alt="" class="review__img">

                                <div>
                                    <h3 class="review__name">Alex S.</h3>
                                    <span class="review__type">Client</span>
                                </div>
                            </div>

                            <div>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                            </div>
                        </div>

                        <p class="review__description">
                            Sarah's work is impeccable!
                        </p>
                    </div>
                    <!--==================== REVIEW 10 ====================-->
                    <div class="review__content swiper-slide">
                        <div class="review__data">
                            <div class="review__header">
                                <img src="static/img/katie-b.png" alt="" class="review__img">

                                <div>
                                    <h3 class="review__name">Katie B.</h3>
                                    <span class="review__type">Client</span>
                                </div>
                            </div>

                            <div>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                            </div>
                        </div>

                        <p class="review__description">
                            Sarah does amazing work, and I'm recommending her to all my friends!
                        </p>
                    </div>

                    <!--==================== REVIEW 11 ====================-->
                    <div class="review__content swiper-slide">
                        <div class="review__data">
                            <div class="review__header">
                                <img src="static/img/janet-m.png" alt="" class="review__img">

                                <div>
                                    <h3 class="review__name">Janet D.</h3>
                                    <span class="review__type">Client</span>
                                </div>
                            </div>

                            <div>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uil uis-star review__icon"></i>

                            </div>
                        </div>

                        <p class="review__description">
                            Sarah is a MAGICIAN and I would give her 10 stars if I could!
                            In addition to her impeccable workmanship, Sarah is a delight to work with.
                        </p>
                    </div>

                    <!--==================== REVIEW 12 ====================-->
                    <div class="review__content swiper-slide">
                        <div class="review__data">
                            <div class="review__header">
                                <img src="static/img/shelb-r.png" alt="" class="review__img">

                                <div>
                                    <h3 class="review__name">ShelB R.</h3>
                                    <span class="review__type">Colleague</span>
                                </div>
                            </div>

                            <div>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                            </div>
                        </div>

                        <p class="review__description">
                            Quirky, fun, and focused when needed. Tries to make a lasting difference.
                        </p>
                    </div>
                    <!--==================== REVIEW 13 ====================-->
                    <div class="review__content swiper-slide">
                        <div class="review__data">
                            <div class="review__header">
                                <img src="static/img/eric-g.png" alt="" class="review__img">

                                <div>
                                    <h3 class="review__name">Eric G.</h3>
                                    <span class="review__type">Colleague</span>
                                </div>
                            </div>

                            <div>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star review__icon"></i>
                                <i class="uis uis-star-half-alt review__icon"></i>
                            </div>
                        </div>

                        <p class="review__description">
                            Loud, opinionated, passionate, smart. She’s awesome, but I like her husband better.
                        </p>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination-review"></div>
            </div>
        </section>

        <!--==================== CONTACT ME ====================-->
        <section class="contact section" id="contact">
            <h2 class="section__title">Contact Me</h2>
            <span class="section__subtitle">Get in touch</span>

            <div class="contact__container container grid">
                <div>
                    <div class="contact__information">
                        <i class="uil uil-phone contact__icon"></i>

                        <div>
                            <h3 class="contact__title">Call/Text</h3>
                            <span class="contact__subtitle">(860) 839-1864</span>

                        </div>
                    </div>
                    <div class="contact__information">
                        <i class="uil uil-envelope contact__icon"></i>

                        <div>
                            <h3 class="contact__title">Email</h3>
                            <span class="contact__subtitle">sarah@thanksforallthe.fish</span>

                        </div>
                    </div>
                    <div class="contact__information">
                        <i class="uil uil-map-marker contact__icon"></i>

                        <div>
                            <h3 class="contact__title">Location</h3>
                            <span class="contact__subtitle">United States</span>

                        </div>
                    </div>
                </div>



                <!-- <form action="" class="contact__form grid"> -->
                <form id="contact-form" method="POST" action="/" class="contact__form grid">

                    {% for message in form.email.errors %}
                    <div class="flash">{{ message }}</div>
                    {% endfor %}

                    {{ form.hidden_tag() }}
                    <div class="contact__input grid">
                        <div class="contact__content">
                            <label for="name" class="contact__label">Name</label>
                            <!-- <input type="text" class="contact__input"> -->
                            {{ form.name(class_="contact__input") }}
                        </div>
                        <div class="contact__content">
                            <label for="email" class="contact__label">Email</label>
                            <!-- <input type="email" class="contact__input"> -->
                            {{ form.email(class_="contact__input") }}
                        </div>
                    </div>

                    <div class="contact__content">
                        <label for="message" class="contact__label">Message</label>
                        <!-- <textarea name="" id="" cols="0" rows="7" class="contact__input"></textarea> -->
                        {{ form.message(rows="7", cols="0", class_="contact__input") }}
                    </div>

                    <button class="button button--flex" type="submit">Send Message 
                        <i class="uil uil-message button__icon"></i></button>

                    <!-- <div>
                        <a href="#" class="button button--flex">
                            Send Message
                            <i class="uil uil-message button__icon"></i>
                        </a>
                    </div>  -->
                </form>
            </div>

        </section>
    </main>

    <!--==================== FOOTER ====================-->
    <footer class="footer">
        <div class="footer__bg">
            <div class="footer__container container grid">
                <div>
                    <h1 class="footer__title">Sarah Stockton</h1>
                    <span class="footer__subtitle">Fullstack developer</span>
                </div>

                <ul class="footer__links">
                    <li>
                        <a href="#about" class="footer__link">Resume</a>
                    </li>
                    <li>
                        <a href="#portfolio" class="footer__link">Portfolio</a>
                    </li>
                    <li>
                        <a href="#contact" class="footer__link">Contact</a>
                    </li>
                </ul>

                <div class="footer__social">
                    <a href="https://www.linkedin.com/in/stocktons/" target="_blank" class="footer__social">
                        <i class="uil uil-linkedin"></i>
                    </a>
                    <a href="https://github.com/stocktons" target="_blank" class="footer__social">
                        <i class="uil uil-github"></i>
                    </a>
                    <a href="https://www.instagram.com/rithmschool/" target="_blank" class="footer__social">
                        <i class="uil uil-instagram-alt"></i>
                    </a>
                </div>
            </div>

            <p class="footer__copy">&#169;2021 Sarah Stockton</p>
        </div>

    </footer>

    <!--==================== SCROLL TOP ====================-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="uil uil-arrow-up scrollup__icon"></i>
    </a>

    <!--==================== SWIPER JS ====================-->
    <script src="static/js/swiper-bundle.min.js"></script>

    <!--==================== MAIN JS ====================-->
    <script src="static/js/main.js"></script>
</body>

</html>

<!--With thanks to Bedimcode for the tutorial this site design is based upon.-->